/** @format */

body {
	font-family: 'Roboto', sans-serif;
}

.yellowtail {
	font-family: 'Yellowtail', cursive;
}

nav {
	border-bottom: 3px solid #6c6c6c;
}

.navbar {
	justify-content: center;
	.navbar-brand {
		font-size: 40px;
		color: rgb(73 73 73);
	}
}

.nav {
	border-bottom: 1px solid #e6e6e6;
	.nav-link {
		color: #d63384;
		font-weight: bold;
	}
}
